/* Цвет основного текста #757575 */
/* Вторичный цвет текста #212121 */
/* Белый #FFFFFF */
/* Акцент #2196F3 */
/* Цвет контактов в футере background: #FFFFFF 60 %;
 */

/* Главный (primary)fill цвет фона #2F303A */
/* Вторичный цвет фона #FFFFFF */
/* Третий цвет фона #E5E5E5 */

/* Доп цвет для лого #000000 */
/* Цвет ссылок для адреса  rgba(255, 255, 255, 60%) */


:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--white-color: #ffffff;
--primary-bg-color: #2F303A;
--studio-black-color: #000000;
--transparent-white-color: rgba(255, 255, 255, 60%);
}


body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}
ul {
    list-style: none;
}

/* site nav */
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}


/* Hero */
.hero-title {
    color: var(--white-color);
}


/* Black section title */
.section-title {
    color: var(--title-text-color);
}


/* Features */
.feature-list .title {
    color: var(--title-text-color);
}

/* Examples с именами команд*/
.team-list .name {
    color: var(--title-text-color);
}

/* Button */
button {
    color: var(--white-color);
    background-color: var(--accent-color);
}

/* Логотипы */
.logo {
    color: var(--accent-color);
}
.first-studio {
    color: var(--studio-black-color);
}
.second-studio {
    color: var(--white-color);
}

a {
    text-decoration: none;
}

/* Контакты в шапке */
.contacts .contact-link {
    color: var(--primary-text-color);
}
.contacts .contact-link:hover,
.contacts .contact-link:focus {
    color: var(--accent-color);
}

/* Футер */

.address-text {
    color: var(--white-color);
}
.address-link {
    color: var(--transparent-white-color)
}