/* Цвет основного текста #757575 */
/* Вторичный цвет текста #212121 */
/* Белый #FFFFFF */
/* Акцент #2196F3 */
/* Цвет контактов в футере background: #FFFFFF 60 %;
 */

/* Главный (primary)fill цвет фона #2F303A */
/* Вторичный цвет фона #FFFFFF */
/* Третий цвет фона #E5E5E5 */


:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--white-color: #ffffff;
--primary-bg-color: #2F303A;
}


body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}
ul {
    list-style: none;
}

.logo {
    color: var(--accent-color);
}

/* site nav */
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}


/* Hero */
.hero-title {
    color: var(--white-color);
}


/* Black section title */
.section-title {
    color: var(--title-text-color);
}


/* Features */
.feature-list .title {
    color: var(--title-text-color);
}

/* Examples с именами команд*/
.team-list .name {
    color: var(--title-text-color);
}

/* Button */
button {
    color: var(--white-color);
    background-color: var(--accent-color);
}